#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

body {
  background-color: #000;
  overflow: hidden;
}

video {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  top: 1920px;
}
