<!DOCTYPE html>
<html>
<head>
  <title>TalkativeJS</title>
  <script src="face-api.js"></script>
  <script src="faceTracker.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript"
          src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/reload/reload.js"></script>
</head>
<body>
<div id="navbar"></div>
<div class="center-content page-container">

  <div class="progress" id="loader">
    <div class="indeterminate"></div>
  </div>
  <div style="position: relative">
    <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay
           muted></video>
    <canvas id="overlay"/>
  </div>

  <div class="row side-by-side">

    <!-- fps_meter -->
    <div id="fps_meter" class="row side-by-side">
      <div>
        <label for="time">Time:</label>
        <input disabled value="-" id="time" type="text" class="bold">
        <label for="fps">Estimated Fps:</label>
        <input disabled value="-" id="fps" type="text" class="bold">
      </div>
    </div>
    <!-- fps_meter -->

  </div>

  <!-- ssd_mobilenetv1_controls -->
  <span id="ssd_mobilenetv1_controls">
      <div class="row side-by-side">
        <div class="row">
          <label for="minConfidence">Min Confidence:</label>
          <input disabled value="0.5" id="minConfidence" type="text"
                 class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseMinConfidence()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseMinConfidence()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
  <!-- ssd_mobilenetv1_controls -->

</div>

<script>

  async function onPlay() {
    const videoEl = $('#inputVideo').get(0);

    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay());


    const options = getFaceDetectorOptions();

    const ts = Date.now();

    const result = await faceapi.detectAllFaces(videoEl, options);

    updateTimeStats(Date.now() - ts);

    const canvas = $('#overlay').get(0);
    if (result) {
      const dims = faceapi.matchDimensions(canvas, videoEl, true);
      faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
    }
    drawStats(canvas, result && result.length);

    setTimeout(() => onPlay())
  }

  async function run() {
    // load face detection model
    await changeFaceDetector(SSD_MOBILENETV1);

    // try to access users webcam and stream the images
    // to the video element
    const stream = await navigator.mediaDevices.getUserMedia({
      video: {
        width: 1920,
        height: 1080
      }
    });
    const videoEl = $('#inputVideo').get(0);
    videoEl.srcObject = stream
  }

  function updateResults() {
  }

  $(document).ready(function () {
    run()
  })
</script>
</body>
</html>
